$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: $mobile) {
    width: 320px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
    padding-right: 67px;
    padding-left: 67px;
  }

  @media screen and (min-width: $desktop) {
    width: 1280px;
    padding-right: 229px;
    padding-left: 229px;
  }
}
.register-rectangle {
  @media screen and (max-width: $tablet) {
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px 150px 0px 0px;

    padding: 40px 13px 34px;
    text-align: center;
  }
  @media screen and (min-width: $tablet) {
    padding: 40px 0px 51px;
  }
}
.register-rectangle--rotate {
  transform: rotate(-90deg);
}
.register__title {
  margin-bottom: 35px;
  text-align: center;
  @media screen and (min-width: $desktop) {
    margin-bottom: 33px;
  }
}
.register {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0px;
    background-color: var(--body-color);
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px;

    /*background-image: linear-gradient(
      to right,
      #c64f4f 15%,
      #09792b 15%,
      #09792b 40%,
      #00b9ff 40%,
      #00b9ff 65%,
      #ffb800 65%
    );*/

    z-index: 10;
  }
}

.register__date {
  @media screen and (max-width: $tablet) {
    max-width: 115px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 50px;
  }
}
.register__text {
  font-weight: 500;
  font-size: 18px;

  &:not(:last-child) {
    @media screen and (max-width: $tablet) {
      margin-bottom: 25px;
    }
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-bottom: 34px;
    }
  }
}
.register__decor-line {
  display: flex;
  align-self: center;
  border: 1px solid rgba(171, 129, 108, 0.5);
  @media screen and (max-width: $tablet) {
    width: 100%;
    margin-bottom: 11px;
  }
  @media screen and (min-width: $tablet) {
    margin-left: 30px;
    margin-right: 30px;
    height: 190px;
  }
}
.register-position {
  @media screen and (max-width: $tablet) {
    max-width: 320px;
  }
  @media screen and (min-width: $tablet) {
    width: 404px;
    height: 153px;
  }
}
.register_form {
  width: 100%;
  @media screen and (min-width: $tablet) {
    width: 404px;
    height: 153px;
    display: inline-flex;
    align-items: center;
  }
}
.form__text {
  @media screen and (max-width: $desktop) {
    margin-bottom: 17px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 15px;
  }
}
.register-position-input {
  display: flex;
  flex-direction: column;
}
.register__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #ab816c;

  background-color: transparent;
  color: var(--text-color);

  @media screen and (min-width: $tablet) {
    width: 234px;
  }

  &::placeholder {
    color: var(--placeholder-color);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: currentColor;
    -webkit-box-shadow: 0 0 0px 1000px var(--second-body-color) inset;
  }

  &:not(:last-child) {
    @media screen and (max-width: $tablet) {
      margin-bottom: 25px;
    }
    @media screen and (min-width: $tablet) {
      margin-bottom: 17px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 15px;
    }
  }
}
.register__button {
  @media screen and (max-width: $tablet) {
    margin-top: 25px;
  }
  @media screen and (min-width: $tablet) {
    margin-left: 25px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 38px;
  }
}
