<section class="about-us__section" id="about">
  <div class="about-us__container container">
    <div class="about-us__item about-us__item--img">
      <picture class="about-us__img">
        <source
          srcset="
            ./images/about-us/desktop/desktop.png    1x,
            ./images/about-us/desktop/desktop@2x.png 2x
          "
          media="(min-width: 1280px)"
          type="image/png"
          width="512"
        />
        <source
          srcset="./images/about-us/tablet/tablet.png 1x, ./images/about-us/tablet/tablet@2x.png 2x"
          media="(min-width: 768px)"
          type="image/png"
          width="330"
        />
        <source
          srcset="./images/about-us/mobile/mobile.png 1x, ./images/about-us/mobile/mobile@2x.png 2x"
          media="(max-width: 767.9px)"
          type="image/png"
          width="290"
        />
        <img src="./images/about-us/mobile/mobile.png" alt="donut" />
      </picture>
    </div>

    <div class="about-us__item">
      <h2 class="about-us__title title section__title">About us</h2>
      <p class="about-us__text text">
        Oh My Donut is the shop which adores tasty deserts and spend hours to create sophisticated
        donuts which will save the world!
      </p>
      <p class="about-us__text text">
        Eva has been baking since she was six years old and over the last 49 years, she has created
        hundreds of cakes for weddings and has baked for many celebrities. Eva and our shop have
        received multiple awards & recognition for excellence.
      </p>
      <button class="button button--border" type="button" data-button-open>Read more</button>
      <div class="backdrop is-hidden" data-button>
        <div class="section__view">
          <p class="section__text about-us__text text">
            We are going to teach you how to cook with passion and sparkles in your eyes! We love
            what we do and believe you will enjoy our cooking atmosphere!
          </p>
          <button class="button button--border" type="button" data-button-close>Less</button>
        </div>
      </div>
    </div>
  </div>
</section>
