<section class="section contact-section" id="contacts">
  <div class="container">
    <h2 class="section__title title сontact--title">Contact</h2>
    <p class="contact__subtitle">We will answer any question!</p>
    <form class="contact__form" autocomplete="on" novalidate>
      <input class="contact__input form--valid" type="email" name="email" placeholder="Email" />
      <input
        class="contact__input form--valid"
        type="text"
        name="question"
        placeholder="Type your question"
        pattern="^[A-Za-zА-Яа-яЁё\s]+$"
      />
      <button type="submit" class="button button--send">Send</button>
    </form>
  </div>
</section>
