<!--секция для роботы с Registration (Разработчик:  Natalia-doobro   )-->
<section class="section">
  <div class="container foto ">
    <div class="register-rectangle">
      <h2 class="section__title register__title title">Registration</h2>
    
      <div class="register">
        <div class="register__date">
          <p class="section__text register__text">May 23, 11:00 <span >New York</span></p>
          <p class="section__text register__text">$ 699</p>
        </div>
        <span class="register__decor-line"></span>
        
        
        <div class="register-position">
          <form class="register_form" autocomplete="on" novalidate>
            <div>
              <p class="section__text form__text">Apply your personal info for registration</p>
        
              <div class="register-position-input">
                <input class="register__input" type="text" name="name" placeholder="Your name" required pattern="^[A-Za-zА-Яа-яЁё\s]+$" />
                <input class="register__input" type="tel" name="phone" placeholder="Phone number" pattern="[0-9]{10}" />
                <input class="register__input" type="email" name="email" placeholder="Email" required />
              </div>
            </div>
        
            <button type="submit" class="button register__button">Register</button>
          </form>
        </div>
        
      </div>
    </div>
  </div>
  
</section>
