<!--секция для роботы с Footer (Разработчик:Naira Kazeian)-->
<footer class="footer-section">
  <div class="container">
    <ul class="socials__list socials__list--footer list">
      <li class="socials__item">
        <a href="" class="socials__link link" target="_blank" rel="noopener noreferrer">
          <svg class="socials__icon" width="24px" height="19px">
            <use href="./images/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a href="" class="socials__link link" target="_blank" rel="noopener noreferrer">
          <svg class="socials__icon" width="19px" height="19px">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a href="" class="socials__link link" target="_blank" rel="noopener noreferrer">
          <svg class="socials__icon" width="10.27px" height="19px">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>

    <ul class="adress list">
      <li class="adress__number">
        <a href="tel:+19102228855" class="link adress__link" rel="noopener noreferrer">
          <svg class="icon" width="13px" height="13px">
            <use href="./images/sprite.svg#icon-phone"></use>
          </svg>
          (910)222-8855
        </a>
      </li>
      <li class="adress__location">
        <a
          class="link adress__link"
          href="https://goo.gl/maps/2vdoLoJ56FoLfRmi8"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="icon" width="11px" height="14.44px">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          New York</a
        >
      </li>
    </ul>
  </div>
</footer>
