<footer>
  <div class="footer__number">
    <svg class="icon" width="13px" height="13px">
      <use href="./images/sprite.svg#icon-phone"></use>
    </svg>
    <p class="number">(910)222-8855</p>
  </div>
  <div class="socials">
    <svg class="socials__icon" width="24px" height="19px">
      <use href="./images/sprite.svg#icon-twitter"></use>
    </svg>
    <svg class="socials__icon" width="19px" height="19px">
      <use href="./images/sprite.svg#icon-instagram"></use>
    </svg>
    <svg class="socials__icon" width="10.27px" height="19px">
      <use href="./images/sprite.svg#icon-facebook"></use>
    </svg>
  </div>
  <div class="footer__location">
    <svg class="icon" width="11px" height="14.44px">
      <use href="./images/sprite.svg#icon-location"></use>
    </svg>
    <p class="location">New York</p>
  </div>
</footer>
