<!--секция для работы с Header (Разработчик: Vitalii Shulga)-->

<header class="header">
  <div class="container header__container">
    <nav class="menu">
      <a class="logo" href="./index.html">
        <svg class="logo__icon">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="menu__list list menu--desktop">
        <li class="menu__item">
          <a class="menu__link link" href="#about">About us</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#program">Program</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#reviews">Reviews</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#contacts">Contacts</a>
        </li>
      </ul>
      <!-- <button
        class="button-menu"
        type="button"
        aria-expanded="false"
        aria-controls="menu-container"
        data-menu-button
      >
        <svg class="button-menu__icon" aria-label="open mobile menu">
          <use class="icon-menu" href="./images/sprite.svg#icon-menu"></use>
          <use class="icon-close" href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button> -->

      <button
        class="hamburger"
        type="button"
        aria-expanded="false"
        aria-controls="menu-container"
        data-menu-button
      >
        <span class="hamburger-inner"></span>
      </button>
    </nav>

    <div class="menu--mobile" id="menu-container" data-menu>
      <a class="logo--mobile" href="./index.html">
        <svg class="logo__icon--mobile">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="menu__list list">
        <li class="menu__item">
          <a class="menu__link link" href="#about" menu-close-link1 id="anchor1Link">About us</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#program" menu-close-link2 id="anchor2Link">Program</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#reviews" menu-close-link3 id="anchor3Link">Reviews</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#contacts" menu-close-link4 id="anchor4Link">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</header>
