<section class="reviews">
    <div class="conteiner">
        <h2 class="section-title">Reviews</h2>
        <article>
            <ul class="reviews-list">
                <li class="Reviews__item">
                    <img src="" alt="photo of John's client">
                    <img src="" alt="rate">
                    <h3 class="reviewer-name">John</h3>
                    <p class="review-text">
                        Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish even if it is your first time in
                        the
                        kitchen!
                        Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
                        everyone!
                    </p>
                </li>
                <li class="Reviews__item">
                    <img src="" alt="photo of Will's client">
                    <img src="" alt="rate">
                    <h3 class="reviewer-name">Will</h3>
                    <p class="review-text">
                        Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish even if it is your first time in
                        the
                        kitchen!
                        Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
                        everyone!
                    </p>
                </li>
                <li class="Reviews__item">
                    <img src="" alt="photo of Elizabeth client">
                    <img src="" alt="rate">
                    <h3 class="reviewer-name">Elizabeth</h3>
                    <p class="review-text">
                        Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish even if it is your first time in
                        the
                        kitchen!
                        Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
                        everyone!
                    </p>
                </li>
            </ul>
            <img src="" alt="pagination">
        </article>
    </div>
</section>