<!--секция для роботы с Reviews (Разработчик: Якимов Сергей)-->
<section class="section" id="reviews">
    <div class="container reviews-section">
        <h2 class="section__title title">Reviews</h2>        
        <div class="slick-slider">
            <ul class="list reviews-list slick-list">
                <li class="reviews-list__item reviews-list__item--wrap">
                    <article class="review-article">
                        <picture>
                            <source
                                srcset="./images/reviews/desktop/john-desktop.jpg 1x, ./images/reviews/desktop/john-desktop@2x.jpg 2x"
                                media="(min-width: 1280px)" type="image/jpg" width="136">
                            <source
                                srcset="./images/reviews/tablet/john-tablet.jpg 1x, ./images/reviews/tablet/john-tablet@2x.jpg 2x"
                                media="(max-width: 1279.98px)" type="image/jpg" width="110">
                            <img class="reviews__img" src="./images/reviews/desktop/john-desktop.jpg" alt="photo of John's client"
                                width="234">
                        </picture>
                        <svg class="reviews__icon" width="136" height="24">
                            <use href="./images/sprite.svg#icon-rate4stars"></use>
                        </svg>
                        <h3 class="reviewer-name">John</h3>
                        <p class="review-text review-text--wrap">
                            Last time I have visited a cooking course by Eva
                            I was impressed with the way she explained everything
                            to people. You can be sure you will manage to cook a delicious dish even if it is your first
                            time in
                            the
                            kitchen!
                            Thank you so much for the masterclass! Looking forward to the next one and highly recommend it
                            to
                            everyone!
                        </p>
                    </article>
                </li>
                <li class="reviews-list__item">
                    <article class="review-article">
                        <picture>
                            <source
                                srcset="./images/reviews/desktop/will-desktop.jpg 1x, ./images/reviews/desktop/will-desktop@2x.jpg 2x"
                                media="(min-width: 1280px)" type="image/jpg" width="234">
                            <source
                                srcset="./images/reviews/tablet/will-tablet.jpg 1x, ./images/reviews/tablet/will-tablet@2x.jpg 2x"
                                media="(min-width: 768px)" type="image/jpg" width="186">
                            <source
                                srcset="./images/reviews/mobile/will-mobile.jpg 1x, ./images/reviews/mobile/will-mobile@2x.jpg 2x"
                                media="(max-width: 767.98px)" type="image/jpg" width="110">
                            <img class="reviews__img" src="./images/reviews/mobile/will-mobile.jpg" alt="photo of Will's client"
                                width="234">
                        </picture>
                        <svg class="reviews__icon" width="136" height="24">
                            <use href="./images/sprite.svg#icon-rate5stars"></use>
                        </svg>
                        <h3 class="reviewer-name">Will</h3>
                        <p class="review-text">
                            Last time I have visited a cooking course by Eva
                            I was impressed with the way she explained everything
                            to people. You can be sure you will manage to cook a delicious dish even if it is your first
                            time in
                            the
                            kitchen!
                            Thank you so much for the masterclass! Looking forward to the next one and highly recommend it
                            to
                            everyone!
                        </p>
                        <!--
                                        <span class="pagination-text">2/15</span>
                                    -->
                    </article>
                </li>
                <li class="reviews-list__item reviews-list__item--wrap">
                    <article class="review-article">
                        <picture>
                            <source
                                srcset="./images/reviews/desktop/elisabeth-desktop.jpg 1x, ./images/reviews/desktop/elisabeth-desktop@2x.jpg 2x"
                                media="(min-width: 1280px)" type="image/jpg" width="136">
                            <source
                                srcset="./images/reviews/tablet/elisabeth-tablet.jpg 1x, ./images/reviews/tablet/elisabeth-tablet@2x.jpg 2x"
                                media="(max-width: 1279.98px)" type="image/jpg" width="110">
                            <img class="reviews__img" src="./images/reviews/desktop/elisabeth-desktop.jpg"
                                alt="photo of Elizabeth client" width="234">
                        </picture>
                        <svg class="reviews__icon" width="136" height="24">
                            <use href="./images/sprite.svg#icon-rate5stars"></use>
                        </svg>
                        <h3 class="reviewer-name">Elizabeth</h3>
                        <p class="review-text review-text--wrap">
                            Last time I have visited a cooking course by Eva
                            I was impressed with the way she explained everything
                            to people. You can be sure you will manage to cook a delicious dish even if it is your first
                            time in
                            the
                            kitchen!
                            Thank you so much for the masterclass! Looking forward to the next one and highly recommend it
                            to
                            everyone!
                        </p>
                    </article>
                </li>
            </ul>
        </div>
            
    </div>
</section>