.button {
  padding: 8px 47px;
  text-align: center;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--button-bg-color);

  font-family: 'Caveat Brush', sans-serif;
  font-size: 18px;
  line-height: 1.34;
  color: var(--button-text-color);

  transition: background-color var(--animation-duration);

  &:hover,
  &:focus {
    background-color: var(--button-accent-color);
  }

  &:active {
    background-color: var(--button-active-color);
  }
  @media screen and (min-width: $desktop) {
    font-size: 24px;
    line-height: 1.22;
  }
}
