.contact-section {
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  display: block;
}
.contact__form--position {
  @media screen and (max-width: $mobile-max) {
    max-width: 320px;
  }
  @media screen and (min-width: $tablet) {
    width: 410px;
  }
}
.contact__form {
  width: 100%;
  @media screen and (min-width: $tablet) {
    width: 410px;
    display: inline-block;
  }
  @media screen and (min-width: $desktop) {
    width: 430px;
  }
}
@media screen and (min-width: $desktop) {
  .сontact--title {
    font-size: 36px;
  }
}

.contact__subtitle {
  margin-top: 20px;
  @media screen and (min-width: $desktop) {
    font-size: 18px;
  }
}

.button--send {
  margin-top: 37px;
  width: 145px;
}
