.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: $mobile) {
    width: 320px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
    padding-right: 67px;
    padding-left: 67px;
  }

  @media screen and (min-width: $desktop) {
    width: 1280px;
    padding-right: 229px;
    padding-left: 229px;
  }
}
