.hero__container {
  position: relative;
  text-align: center;
  z-index: 5;
  padding-top: 85px;
  padding-bottom: 0;

  @media screen and (min-width: $tablet) {
    text-align: left;
    padding-top: 80px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 160px;
    padding-bottom: 145px;
  }
}

.hero__title {
  display: inline-block;
  max-width: 224px;
  margin-bottom: 3px;
  font-size: 30px;
  line-height: 1.25;

  @media screen and (min-width: $desktop) {
    max-width: 490px;
    margin-bottom: 15px;
    font-size: 64px;
    line-height: 1.02;
  }
}

.hero__label {
  margin-bottom: 37px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  @media screen and (min-width: $tablet) {
    margin-bottom: 26px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.21;
  }
}

.hero__button {
  display: inline-block;
  margin-bottom: 32px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 18px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 52px;
  }
}
