/*основная стилизация контейнера регестрации*/
.regis-img--position {
  position: relative;
}
.register-rectangle {
  @media screen and (max-width: $mobile-max) {
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px 150px 0px 0px;
    background: var(--second-body-color);
    padding: 40px 13px 34px;
    text-align: center;
  }
  @media screen and (min-width: $tablet) {
    padding: 40px 0px 51px;
  }
}
.register__title {
  margin-bottom: 39px;
  text-align: center;
  @media screen and (min-width: $tablet) {
    margin-bottom: 35px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 33px;
  }
}
.register {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 822px;
    padding: 35px 0px;
    background: var(--second-body-color);
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px;
    z-index: 2;
  }
}

.register__date {
  @media screen and (max-width: $mobile-max) {
    max-width: 115px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 40px;
    padding-left: 15px;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 30px;
  }
}
.register__text {
  font-weight: 500;
  font-size: 18px;

  &:not(:last-child) {
    @media screen and (max-width: $mobile-max) {
      margin-bottom: 22px;
    }
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-bottom: 34px;
    }
  }
}
.register__decor-line {
  display: flex;
  align-self: center;
  border-top: none;
  border-right: none;
  @media screen and (max-width: $mobile-max) {
    width: 100%;
    margin-bottom: 11px;
    border-left: none;
    border-bottom: 1px solid var(--placeholder-color);
  }
  @media screen and (min-width: $tablet) {
    margin-left: 30px;
    margin-right: 30px;
    height: 190px;
    border-left: 1px solid var(--placeholder-color);
    border-bottom: none;
  }
}
.registration--image {
  @media screen and (min-width: $tablet) and (max-width: $tablet-max) {
    z-index: 1;
    width: $tablet;
    background-image: url('../images/images-registration/donut-chocolate.png');
    background-size: 256.68px 254px;
    background-repeat: no-repeat;
    background-position: -20px 80px;
  }
  @media screen and (min-width: $desktop) {
    z-index: 1;
    width: $desktop;
    background-image: url('../images/images-registration/donut-chocolate.png');
    background-size: 256.68px 254px;
    background-repeat: no-repeat;
    background-position: 70px 80px;
  }
}
@media screen and (min-width: $tablet) {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .registration--image {
      background-image: url('../images/images-registration/donut-chocolate@2x.png');
    }
  }
}

.registration--image-confetti {
  @media screen and (min-width: $tablet) {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: $tablet) and (max-width: $tablet-max) {
    z-index: 1;
    width: $tablet;
    background-image: url('../images/images-registration/confetti-tablet.png');
    background-size: 400px 373.67px;
    background-repeat: no-repeat;
    background-position: 413px 160px;
  }
  @media screen and (min-width: $desktop) {
    z-index: 1;
    width: $desktop;
    background-image: url('../images/images-registration/confetti.png');
    background-size: 700px 544.01px;
    background-repeat: no-repeat;
    background-position: 673.73px 120px;
  }
}
@media screen and (min-width: $tablet) {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .registration--image-confetti {
      background-image: url('../images/images-registration/confetti-tablet@2x.png');
    }
  }
}
@media screen and (min-width: $desktop) {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .registration--image-confetti {
      background-image: url('../images/images-registration/confetti@2x.png');
    }
  }
}
