.section__title {
  text-align: center;
  font-size: 24px;
  line-height: 2;
  @media screen and (min-width: $desktop) {
    font-size: 36px;
  }
  @media screen and (min-width: $tablet) {
    &.section__title--position {
      text-align: left;
    }
  }

  @media screen and (min-width: $desktop) {
    &.section__title--position {
      margin-bottom: 10px;
      line-height: 1.8;
    }
  }
}
