.section__program {
  padding-top: 25px;
  padding-bottom: 25px;
}

@media screen and (min-width: $tablet) {
  .container--position {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: $tablet) {
  .container__item {
    width: 50%;
  }
}

.program__text,
.program__item {
  margin-bottom: 10px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 15px;
  }
}

.icon-arrow::before {
  text-align: center;
  content: '';
  width: 16px;
  height: 15px;
  display: inline-block;

  background-image: url(../images/icon-arrow.svg);

  background-size: contain;
}

.btn {
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  border-radius: 10px;

  color: var(--button-bg-color);
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: transparent;
    transform: scale(1.2);
    transform: translate (10px, 20px);
  }
}

.backdrop {
  @media screen and (max-width: $tablet-max) {
    &.is-hidden {
      display: none;
      opacity: 0;
      pointer-events: none;
    }
  }
}

.servises__list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: $tablet) {
    margin-left: 27px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 40px;
  }
}

.servises__card {
  align-items: center;
  position: relative;
  width: 127px;
  height: 127px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--bg-menu-color);
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
}

.servises__card {
  @media screen and (min-width: $mobile) {
    width: 135px;
    height: 135px;
  }

  @media screen and (min-width: $desktop) {
    width: 175px;
    height: 175px;
  }
}

.servises__img {
  position: absolute;
  top: -25%;
  right: 25%;
}

.servises__icon {
  width: 19px;
  height: 18px;
}

.servises__item:nth-child(2n) {
  position: relative;
  top: 25px;
  margin-bottom: 30px;
  margin-left: 20px;

  @media screen and (min-width: $desktop) {
    top: 55px;
  }
}

.servises__item {
  margin-top: 33px;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.servises__item:hover,
.servises__item:focus {
  transform: scale(1.1);
}

.servises__description {
  position: absolute;
  width: 100%;
  top: 33%;
}

.servises__title {
  font-size: 18px;
  line-height: 1.28;

  @media screen and (min-width: $desktop) {
    font-size: 24px;
  }
}

.servises__text {
  font-size: 14px;
  line-height: 1.21;
}

.servises__title,
.servises__text {
  margin-bottom: 13px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 16px;
  }
}
